.slider-component {

	.slider-range-current-value {
		text-align: center;
		padding-top: 10px
	}

	.slider-range-current-value-text {
		color: @item-color;
	}

	.slider-range-current-value-number {
		color: @item-selected-color;
		  font-weight: bold;
	}

	.slider-container {
		padding: 20px 0;
	}

	.slider-range-min {
		float: left;
		text-align: left;
	}

	.slider-range-max {
		float: right;
		text-align: right;
	}

}