<div class="slider-inner component-inner" role="region" aria-label="{{_globals._components._slider.ariaRegion}}">
    {{> component this}}
    <div class="slider-widget component-widget {{#unless _isEnabled}} disabled {{#if _isComplete}} complete submitted show-user-answer {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}}">
    	
	    <div class="slider-container">
	    	<div class="slider-bar">
		    	<a href="#" class="slider-handle"></a>
		    	<div class="slider-indicator">
		    		<span class="slider-indicator-number">0<span>
		    	</div>
		    	<div class="slider-markers">
		    		{{#times _totalRange}}
		    			<div class="slider-marker"></div>
		    		{{/times}}
		    	</div>
	    	</div>
	    </div>

	    <div class="slider-range-labels">
    		<div class="slider-range-labels-inner clearfix">
    			<div class="slider-range-min">
    				<span>{{_labels._min}}</span>
    			</div>
    			<div class="slider-range-max">
    				<span>{{_labels._max}}</span>
    			</div>
    		</div>
    	</div>

	    <div class="buttons">
	    </div>
    
    </div>
</div>